.u-section-1 .u-sheet-1 {
  min-height: 1204px;
}

.u-section-1 .u-text-1 {
  line-height: 1.4;
  font-weight: 700;
  font-size: 2.25rem;
  width: 728px;
  margin: 143px auto 0;
}

.u-section-1 .u-text-2 {
  width: 728px;
  margin: 0 auto;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 695px;
  margin: 39px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 1053px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-list-item-1 {
  --effect-scale: 1.25;
}

.u-section-1 .u-image-1 {
  background-image: url("/images/los.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-list-item-2 {
  --effect-scale: 1.25;
}

.u-section-1 .u-image-2 {
  background-image: url("/images/pe.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-list-item-3 {
  --effect-scale: 1.25;
}

.u-section-1 .u-image-3 {
  background-image: url("/images/sushi_smol.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-list-item-4 {
  --effect-scale: 1.25;
}

.u-section-1 .u-image-4 {
  background-image: url("/images/NcX_smol.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-list-item-5 {
  --effect-scale: 1.25;
}

.u-section-1 .u-image-5 {
  background-image: url("/images/twrp_main.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-list-item-6 {
  --effect-scale: 1.25;
}

.u-section-1 .u-image-6 {
  background-image: url("/images/ofox_main.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-item-1 {
    background-position: 49.2% 50%;
  }

  .u-section-1 .u-list-item-2 {
    background-position: 49.2% 50%;
  }

  .u-section-1 .u-list-item-3 {
    background-position: 49.2% 50%;
  }

  .u-section-1 .u-list-item-4 {
    background-position: 49.2% 50%;
  }

  .u-section-1 .u-list-item-5 {
    background-position: 49.2% 50%;
  }

  .u-section-1 .u-list-item-6 {
    background-position: 49.2% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}