.u-section-1 .u-sheet-1 {
  min-height: 881px;
}

.u-section-1 .u-text-1 {
  line-height: 1.4;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 38px 155px 0 257px;
}

.u-section-1 .u-image-1 {
  width: 113px;
  height: 113px;
  margin: -81px auto 60px 304px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 728px;
    margin-left: 157px;
    margin-right: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    margin-left: 227px;
  }
}